.game-page {
  & a {
    color: $color_active !important;
    text-decoration: underline;
    line-height: 24px;
    &:hover {
      color: #6b90e9 !important;
    }
  }

  & p {
    line-height: 24px;
  }

  & .tab__list_block .card_bg_content {
    padding: 12px !important;
  }

  & .tab__title .card_bg_content {
    padding: 15px 20px !important;
    text-align: center;
  }

  & .tab__list_block {
    margin-top: 8px !important;
  }

  @include max-desktop_1280 {
    .game-page_social {
      flex-direction: column;
      align-items: flex-start !important;
    }
  }
}
